/* 
GENERAL RULES
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

ul {
  list-style: none;
}


.app {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

/***************************************************************
SECTION HEADER
****************************************************************/
.main-header {
  display: flex;
  justify-content: space-between;
}

/***************************************************************
SECTION SEARCH
****************************************************************/
.content-search {
  display: flex;
  align-items: center;
}

.content-search .input-search {
  height: 25px;
  padding: 0 10px;
  margin: 0 10px;
  font-size: 16px;
}

#submit {
  width: 85px;
  height: 34px;
  background-color: red;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

/***************************************************************
SECTION MAIN 
****************************************************************/
.content {
  height: 100vh;
}
.movie-list {
  display: flex;
  flex-wrap: wrap;
}

.element {
  height: 488px;
  width: 342px;
  margin: 10px;
  overflow: hidden;
}

.element:hover .poster {
  display: none;
}

.element:hover .details {
  display: block;
  padding: 10px;
}

input[type=text] {
  transition: width 0.4s ease-in-out;
  font-family: 'Roboto', sans-serif;
}

input[type=text]:focus {
  width: 100%;
}
button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

/**************************************************************
SECTION UTILITIES
****************************************************************/
.white-color {
  color: white;
}

.flag {
  width: 20px;
  height: auto;
}

.fz-18 {
  font-size: 18px;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}
.fa-star {
  color: gold;
}

.details {
  display: none;
}

