* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.app {
  max-width: 1140px;
  margin: 0 auto;
}


.flag {
  width: 20px;
  height: auto;
}

